---
layout: default
---
<div class="post post-profile">
  <div class="side-by-side">
    <header class="post-header">
      <h1 class="post-title">
        {% if site.title == 'blank' %}
          <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
          {{ site.last_name }}
        {% else %}
          {{ site.title }}
        {% endif %}
      </h1>
      <p class="desc">{{ page.subtitle }}</p>
      <!-- Social -->
      {% if page.social %}
        <div class="social">
          <div class="contact-icons">{% include social.liquid %}</div>
          <div class="contact-note">{{ site.contact_note }}</div>
        </div>
      {% endif %}
    </header>

    <div class="profile-image">
      <img src="/assets/img/IMG_1896.jpg" alt="Sam Holtzen wearing a straw sunhat and a plaid shirt, smiling." loading="eager" onerror="this.onerror=null; $('.responsive-img-srcset').remove();">
    </div>

  </div>

</div>
